*{margin: 0;padding: 0;}
.head{
	width: 100%;
	height: 193px;
}
.headertop{
	width: 100%;
	height: 36px;
	border-bottom: 1px solid #DFDFDF;
}
.headerTop_ul{
	width: 1200px;
	height: 36px;
	color: #666;
	margin: 0 auto;
	padding-top: 10px;
}
.headerTop_ul li{
	float: left;
	border-right:1px solid #DFDFDF;
	height: 16px;
	line-height:16px;
	padding: 0 20px;
}
.headerTop_ul li:last-child{
	border-right: none;
}
.headerTop_ul li .color0066CC{
	color: #0066cc;
}
.header{
	width: 1200px;
	height: 96px;
	margin: 0 auto;
}
.header .log{
	width: 380px;
	height: 71px;
	background: url(../img/serveDh.png)no-repeat center center;
	float: left;
	margin-left: 60px;
	margin-top: 25px;
}
.header .search {
	width: 298px;
	height: 55px;
	float: right;
	margin-top: 25px;
}
.header .search .inpute{
	width: 298px;
	height: 32px;
	background: url(../img/searchDiv_form.png)no-repeat center center;
	
}
.header .search .inpute input:nth-child(1){
	width: 202px;
	height: 28px;
	margin-left: 40px;
	float: left;
	border: none;
	margin-top: 2px;
} 
.header .search .inpute input:nth-child(2){
	width: 55px;
	height: 28px;
	float: right;
	border: none;
	margin-top: 2px;
	background: transparent;
}
.header .search .search_ul{
	margin-top: 10px;
}
.header .search .search_ul li{
	float: left;
	margin-right: 16px;
}
.header .search .search_ul li a:hover{
	color: #005BAC;
}
.nav{
	width: 100%;
	height: 40px;
	background: #005BAC;
	margin-top: 20px;
}
.navinner{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	position: relative;
}
.navinner .navlift{
	width: 236px;
	float: left;
	line-height: 40px;
}
.navinner .navlift img{
	margin: 8px 10px 0px 55px;
	float: left;
}
.navinner .navlift .colorfff{
	font-size: 16px;
	color: #FFFFFF;
	float: left;
	text-decoration: none;
}
.navinner .navlift .navlift_ul{
	width: 236px;
    height: 450px;
    background-color: #005BAC;
    z-index: 10;
    float: left;
    display: none;
    position: absolute;top:40px ;left:0 ;
}
.navinner .navlift .navlift_ul img{
	margin: 16px 10px 0px 40px;
}
.navinner .navlift .navlift_ul li {
    height: 55px;
    overflow: hidden;
    line-height: 55px;
    border-top: solid 1px #4084C1;
    margin-left: 15px;
    margin-right: 5px;s
} 
.navinner .navlift .navlift_div {
	width: 253px;
    height: 53px;
    line-height: 53px;
    background-color: #0773D3;
    margin-left: -10px;
    margin-top: 110px;
    z-index: 11;
    overflow: hidden;
}
.navinner .navlift .navlift_div img{
	margin-top: 7px;
	width: 31px;
	height: 38px;
}
.navinner_ul{
	margin-left: 280px;
}
.navinner_ul li{
	float: left;
    background: url(../img/headerMenu_ulli.png) no-repeat top right;
    padding: 0 32px;
}
.navinner_ul li a{
	color: #FFFFFF;
	font-size: 16px;
	line-height: 40px;
}
.navinner_ul .navinner_ulfis img{
	float: left;
	margin: 12px 10px 0 0;
}
/*head over*/
/*----------------------------------------------------------------------------------------------------------*/
.banner {
	width: 100%;
}
.banner-inner {
	width: 1200px;
	margin: 0 auto;
}
.banner-inner .location {
	width: 100%;
	height: 50px;
}
.banner-inner .location li {
	float: left;
	line-height: 50px;
}
.banner-inner .location li:nth-child(1) {
	margin-right: 15px;
}
.banner-inner .location li:nth-child(2) a:hover {
	color: blue;
}
.banner-inner .location li:nth-child(3) {
	margin-left: 10px;
	margin-right: 10px;
}
.banner-inner .order {
	width: 114px;
	height: 34px;
	background: #005BAA;
	text-align: center;
	line-height: 34px;
	color: white;
	margin: 15px 0;
}
.banner-inner-order,.banner-inner-order1,.banner-inner-order2,.banner-inner-order3 {
	width: 1198px;
	border: 1px solid #BBB4B4;
}
.banner-inner-order-header {
	width: 1176px;
	height: 32px;
	margin: 25px auto;
}
.banner-inner-order-header form {
	float: left;
}
.banner-inner-order-header .form1 {
	margin-left: 20px !important;
	color: #CCCCCC;
}
.banner-inner-order-header .form1 input {
	float: left;
}
.banner-inner-order-header .form2 {
	margin-left: 40px;
}
.form1 .form1-in1 {
	width: 250px;
	height: 32px;
	color: #CCCCCC;
	border: 1px solid #CCCCCC;
	margin-left: 10px;
}
.form1 .form1-in2,.form2 .form2-in3 {
	width: 76px;
	height: 30px;
	padding-bottom: 25px;
	padding-top: 7px;
	border: 1px solid #CCCCCC;
}
.form2 .form2-in3 {
	padding-top: 5px;
	height: 26px;
	line-height: 24px;
}
.form1 label,.form2 label {
	line-height: 32px !important;
}
.form2 .form2-in1 {
	width: 162px;
	height: 28px;
}
.form2 .form2-in3 {
	float: right;
	margin-left: 20px;
}
.order-number {
	width: width:1178px;
	height: 35px;
	border: 1px solid #BBB4B4;
	margin: 10px;
	color: white;
	background: #999;
}
.order-number li {
	float: left;
	border-right: 1.5px solid #CCCCCC;
	height: 35px;
	text-align: center;
	line-height: 35px;
}
.order-number li:nth-child(1) {
	width: 300px;
}
.order-number li:nth-child(2),.order-number li:nth-child(3),.order-number li:nth-child(4) {
	width: 156px;
}

.order-number li:nth-child(5),
.order-number li:nth-child(6) {
	width: 200px;
}

.order-number li:nth-child(6) {
	border: none;
}

.banner-inner-order .table1,
.table2 {
	width: 1178px;
	border: 1px solid #BBB4B4;
	margin: 10px;
}

.banner-inner-order .table1 tr td,
.table2 tr td {
	border: 1px solid #BBB4B4;
	text-align: center;
}

.banner-inner-order .table1 tr:nth-child(1),
.table2 tr:nth-child(1) {
	height: 35px;
	background: #DEDFDF;
}

.banner-inner-order .table1 tr:nth-child(1) span,
.table2 tr:nth-child(1) span {
	float: left;
	padding-left: 20px;
	line-height: 35px;
}

.banner-inner-order .table1 tr:nth-child(1) a {
	float: right;
	width: 68px;
	height: 27px;
	color: white;
	background: #005BAA;
	line-height: 27px;
	text-align: center;
	margin-right: 10px;
	margin-top: 3.5px;
}

.banner-inner-order .table1 tr:nth-child(2) {
	height: 40px;
	color: black;
	margin-top: 20px;
}
.banner-inner-order .table1 tr:nth-child(2) td:nth-child(1),
.table2 tr:nth-child(2) td:nth-child(1) {
	width: 300px;
}
.banner-inner-order .table1 tr:nth-child(2) td:nth-child(2),
.banner-inner-order .table1 tr:nth-child(2) td:nth-child(3),
.banner-inner-order .table1 tr:nth-child(2) td:nth-child(4) {
	width: 157px;
}
.banner-inner-order .table2 tr:nth-child(2) td:nth-child(2),
.banner-inner-order .table2 tr:nth-child(2) td:nth-child(3),
.banner-inner-order .table2 tr:nth-child(2) td:nth-child(4) {
	width: 157px;
}
.banner-inner-order .table1 tr:nth-child(2) td:nth-child(1) img,
.banner-inner-order .table2 tr:nth-child(2) td:nth-child(1) img,
.banner-inner-order .table1 tr:nth-child(3) td:nth-child(1) img {
	width: 90px;
	height: 90px;
	float: left;
	margin: 15px 30px 15px 20px;
}
.banner-inner-order .table1 tr:nth-child(2) td:nth-child(1) span {
	float: left;
	margin-top: 30px;
}
.banner-inner-order .table1 tr:nth-child(3) td:nth-child(1) span,
.banner-inner-order .table1 tr:nth-child(4) td:nth-child(1) span,
.table2 tr:nth-child(2) td:nth-child(1) span {
	display: block;
	float: left;
	width: 160px;
	height: 67px;
	margin-top: 30px;
	text-align: left;
}
.banner-inner-order .table1 tr:nth-child(5) td {
	height: 65px;
}
.banner-inner-order .table1 tr:nth-child(5) td p {
	font-size: 18px;
	float: left;
}
.banner-inner-order .table1 tr:nth-child(5) td p span em {
	color: #E10012;
}
.banner-inner-order .table1 tr:nth-child(5) td p span em {
	font-size: 16px;
	font-weight: 800;
}
.banner-inner-order .table1 tr:nth-child(5) td p:nth-child(1) {
	margin-left: 30px;
}

.banner-inner-order .table1 tr:nth-child(5) td p:nth-child(2) {
	margin-left: 40px;
}

.banner-inner-cont2 {
	width: 850px;
	margin: 30px auto;
}





/*-------------------------------------------------------------------------------------------------------------*/
.footer{
	width: 850px;
	height: 135px;
	margin: 0 auto;
	margin-top: 30px;
	background: url(../img/foorterImg.jpg) no-repeat center center;
}
.end{
	width: 100%;
	height: 120px;
	background: #999999;
	margin-top: 30px;
}
.end .endin{
	width: 1200px;
	margin: 0 auto;
	padding-top: 40px;
}
.end .endin .endin_ul{
	width: 100%;
	height:100%;
	/*margin: 0 auto;*/
	text-align: center;
}
.end .endin .endin_ul li{
	font-size: 16px;
	border-right: 2px solid #FFFFFF;
	display: inline-block;
}
.end .endin .endin_ul li:last-child{
	border-right: none;
}
.end .endin .endin_ul li a{
	margin: 0 30px 0 30px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 800;
}
.end .endin p{
	margin-top: 25px;
	font-size: 12px;
	color: #FFFFFF;
    text-align: center;
    font-weight: 800;
}
.backToTop {
    display: none;
    background: url(../img/result-top-btn.png) no-repeat;
    width: 70px;
    height: 65px;
    position: fixed;
    right: 50px;
    bottom: 180px;
    cursor: pointer;
}