*{margin: 0;padding: 0;}
.head{
	width: 100%;
	height: 193px;
}
.headertop{
	width: 100%;
	height: 36px;
	border-bottom: 1px solid #DFDFDF;
}
.headerTop_ul{
	width: 1200px;
	height: 36px;
	color: #666;
	margin: 0 auto;
	padding-top: 10px;
}
.headerTop_ul li{
	float: left;
	border-right:1px solid #DFDFDF;
	height: 16px;
	line-height:16px;
	padding: 0 20px;
}
.headerTop_ul li:last-child{
	border-right: none;
}
.headerTop_ul li .color0066CC{
	color: #0066cc;
}
.header{
	width: 1200px;
	height: 96px;
	margin: 0 auto;
}
.header .log{
	width: 380px;
	height: 71px;
	background: url(../img/serveDh.png)no-repeat center center;
	float: left;
	margin-left: 60px;
	margin-top: 25px;
}
.header .search {
	width: 298px;
	height: 55px;
	float: right;
	margin-top: 25px;
}
.header .search .inpute{
	width: 298px;
	height: 32px;
	background: url(../img/searchDiv_form.png)no-repeat center center;
	
}
.header .search .inpute input:nth-child(1){
	width: 202px;
	height: 28px;
	margin-left: 40px;
	float: left;
	border: none;
	margin-top: 2px;
} 
.header .search .inpute input:nth-child(2){
	width: 55px;
	height: 28px;
	float: right;
	border: none;
	margin-top: 2px;
	background: transparent;
}
.header .search .search_ul{
	margin-top: 10px;
}
.header .search .search_ul li{
	float: left;
	margin-right: 16px;
}
.header .search .search_ul li a:hover{
	color: #005BAC;
}
.nav{
	width: 100%;
	height: 40px;
	background: #005BAC;
	margin-top: 20px;
}
.navinner{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	position: relative;
}
.navinner .navlift{
	width: 236px;
	float: left;
	line-height: 40px;
}
.navinner .navlift img{
	margin: 8px 10px 0px 55px;
	float: left;
}
.navinner .navlift .colorfff{
	font-size: 16px;
	color: #FFFFFF;
	float: left;
	text-decoration: none;
}
.navinner .navlift .navlift_ul{
	width: 236px;
    height: 450px;
    background-color: #005BAC;
    z-index: 10;
    float: left;
    display: none;
    position: absolute;top:40px ;left:0 ;
}
.navinner .navlift .navlift_ul img{
	margin: 16px 10px 0px 40px;
}
.navinner .navlift .navlift_ul li {
    height: 55px;
    overflow: hidden;
    line-height: 55px;
    border-top: solid 1px #4084C1;
    margin-left: 15px;
    margin-right: 5px;s
} 
.navinner .navlift .navlift_div {
	width: 253px;
    height: 53px;
    line-height: 53px;
    background-color: #0773D3;
    margin-left: -10px;
    margin-top: 110px;
    z-index: 11;
    overflow: hidden;
}
.navinner .navlift .navlift_div img{
	margin-top: 7px;
	width: 31px;
	height: 38px;
}
.navinner_ul{
	margin-left: 280px;
}
.navinner_ul li{
	float: left;
    background: url(../img/headerMenu_ulli.png) no-repeat top right;
    padding: 0 28px;
}
.navinner_ul li a{
	color: #FFFFFF;
	font-size: 16px;
	line-height: 40px;
}
.navinner_ul .navinner_ulfis img{
	float: left;
	margin: 12px 10px 0 0;
}
.shop{width:146px !important;float: right !important;text-align: right;padding-right: none !important;}
.shop a{color:#FCD000 !important;font-size:18px;margin-left:5px;}



/*head over*/
/*----------------------------------------------------------------------------------------------------------*/
.maxlunbo {
	width: 100%;
	height: 460px;
	overflow: hidden;
}
.maxlunbo li {
	width: 100%;
	height: 100%;
}
.maxlunbo li:nth-child(1) {
	background: url(../img/ZlhdpLi_noe.jpg)no-repeat center top;
}
.maxlunbo li:nth-child(2) {
	background: url(../img/ZlhdpLi_tow.jpg)no-repeat center top;
}
.onetwo {
	width: 50px;
	height: 20px;
	;
	margin: auto;
	position: relative;
}
.onetwo li {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
}
.onetwo li a {
	color: white;
	text-decoration: none;
}
.onetwo li:nth-child(1) {
	float: left;
	position: absolute;
	top: -35px;
	left: 0px;
}
.onetwo li:nth-child(2) {
	float: right;
	position: absolute;
	top: -35px;
	left: 25px;
}
.one {
	background: red;
}
/*---------------------------------------------------------------------------------------------------------*/

.banner {
	width: 100%;
	height: 1265px;
	background: #F7F7F7;
	margin-top: -20px;
	font-weight: 800;
}
.banner-inner {
	width: 1200px;
	margin: 0 auto;
	color: black;
	padding-top: 20px;
}
.banner-inner-left {
	width: 933px;
	float: left;
}
.left-header {
	width: 100%;
	height: 35px;
	border-bottom: 1px solid #949393;
}
.left-header p {
	width: 135px;
	height: 32px;
	border-bottom: 3px solid #0773D3;
	float: left;
}
.left-header p span:nth-child(1) {
	float: left;
	width: 25px;
	height: 25px;
	background: url(../img/Fbou.png)no-repeat;
	color: white;
	line-height: 30px;
	font-size: 14px;
	padding-left: 3px;
	margin-left: 10px;
}
.left-header p span:nth-child(2) {
	float: left;
	font-size: 20px;
	margin-left: 10px;
	color: #544D4D;
	font-weight: bold;
	padding-top: 4px;
}
.left-header a {
	float: right;
	line-height: 35px;
}
.left-banner {
	width: 100%;
	height: 282px;
	margin-top: 15px;
}
.left-banner div:nth-child(1),.left-banner div:nth-child(2),.left-banner1 div {
	border: solid 1px #EAE6E6;
}
.left-banner div:nth-child(1) {
	width: 645px;
	height: 265px;
	float: left;
	background: white;
	padding-left: 15px;
	padding-top: 15px;
}
.left-banner div:nth-child(1) p:nth-child(1) {
	font-size: 30px;
	color:
}
.left-banner div:nth-child(1) p:nth-child(2) span {
	font-size: 32px;
	color: #E10012;
	line-height: 66px;
	float: left;
}
.left-banner div:nth-child(1) img {
	float: left;
	margin: 15px 0 15px 130px;
}
.left-banner div:nth-child(2) {
	width: 250px;
	height: 280px;
	float: right;
	background: white;
}
.left-banner div:nth-child(2) img {
	margin-left: 27px;
}
.left-banner div:nth-child(2) p {
	text-align: center;
	font-size: 22px;
	line-height: 40px;
}
.left-banner div:nth-child(2) p:nth-child(3) {
	color: #E10012;
}
.left-banner1 {
	width: 100%;
	height: 287px;
	margin-top: 15px;
}
.left-banner1 div {
	width: 300px;
	height: 285px;
	float: left;
	background: white;
}
.left-banner1 div:nth-child(2),.left-banner1 div:nth-child(3) {
	margin-left: 13px;
}
.left-banner1 div img {
	margin-left: 53px;
}
.left-banner1 div p {
	text-align: center;
	line-height: 30px;
	font-size: 22px;
}
.left-banner1 div:nth-child(1) p:nth-child(2),.left-banner1 div:nth-child(2) p:nth-child(2),.left-banner1 div:nth-child(3) p:nth-child(2) {
	margin-top: 10px;
}
.left-banner1 div:nth-child(1) p:nth-child(3),.left-banner1 div:nth-child(2) p:nth-child(3),.left-banner1 div:nth-child(3) p:nth-child(3) {
	color: #E10012;
}
.left-header1 {
	margin-top: 15px;
}
.left-banner2 {
	width: 100%;
	height: 516px;
	margin-top: 15px;
}
.left-banner2 div:nth-child(1) {
	width: 400px;
	height: 516px;
	float: left;
	background: white;
	border: 1px solid #EAE6E6;
}
.left-banner2 div:nth-child(1) img {
	margin-left: 23px;
}
.left-banner2 div:nth-child(1) p {
	font-size: 22px;
	text-align: center;
	line-height: 30px;
	margin-top: 25px;
}
.left-banner2 div:nth-child(1) p:nth-child(3) {
	color: #E10012;
}
.left-banner2 div:nth-child(2) {
	width: 520px;
	height: 516px;
	float: right;
}
.left-banner2 div:nth-child(2) div:nth-child(1),.left-banner2 div:nth-child(2) div:nth-child(2),.left-banner2 div:nth-child(2) div:nth-child(3),.left-banner2 div:nth-child(2) div:nth-child(4) {
	width: 253px;
	height: 252px;
	background: white;
	float: left;
	border: 1px solid #EAE6E6;
}
.left-banner2 div:nth-child(2) div:nth-child(1) img,.left-banner2 div:nth-child(2) div:nth-child(2) img,.left-banner2 div:nth-child(2) div:nth-child(3) img,.left-banner2 div:nth-child(2) div:nth-child(4) img {
	width: 195px;
	height: 195px;
	margin-left: 30px;
}
.left-banner2 div:nth-child(2) div:nth-child(2),.left-banner2 div:nth-child(2) div:nth-child(4) {
	margin-left: 10px;
}
.left-banner2 div:nth-child(2) div:nth-child(3),.left-banner2 div:nth-child(2) div:nth-child(4) {
	margin-top: 10px;
}
.left-banner2 div:nth-child(2) div:nth-child(1) p {
	margin: 0;
}
.left-banner2 div:nth-child(2) div:nth-child(1) p,.left-banner2 div:nth-child(2) div:nth-child(2) p,.left-banner2 div:nth-child(2) div:nth-child(3) p,.left-banner2 div:nth-child(2) div:nth-child(4) p {
	font-size: 16px;
	text-align: center;
	line-height: 25px;
}
.left-banner2 div:nth-child(2) div:nth-child(1) p:nth-child(3),.left-banner2 div:nth-child(2) div:nth-child(2) p:nth-child(3),.left-banner2 div:nth-child(2) div:nth-child(3) p:nth-child(3),.left-banner2 div:nth-child(2) div:nth-child(4) p:nth-child(3) {
	color: #E10012;
}
.banner-inner-right {
	width: 253px;
	float: right;
}
.banner-inner-right li {
	background: white;
	border: 1px solid #EAE6E6;
}
.banner-inner-right li:nth-child(2),.banner-inner-right li:nth-child(3) {
	margin-top: 15px;
}
.right-header {
	display: block;
	width: 120px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	background: #0773D3;
}
.banner-inner-right li:nth-child(1) p {
	width: 100%;
	height: 20px;
	margin-top: 15px;
}
.right-cont1-sp2,.right-cont1-sp3 {
	float: left;
}
.right-cont111,.right-cont222,.right-cont333,.right-cont444,.right-cont555,.right-cont666 {
	width: 90% !important;
	height: 80px !important;
	border: 1px solid red;
	margin: auto;
	display: none;
}
.right-cont111 span,.right-cont222 span,.right-cont333 span,.right-cont444 span,.right-cont555 span,.right-cont666 span {
	margin: 0 !important;
}
.right-cont111 img,.right-cont222 img,.right-cont333 img,.right-cont444 img,.right-cont555 img,.right-cont666 img {
	width: 62px;
	height: 62px;
	float: left;
	margin: 16px 16px 0px -16px;
}
.right-cont111 a,.right-cont222 a,.right-cont333 a,.right-cont444 a,.right-cont555 a,.right-cont666 a {
	display: block;
	width: 210px;
	margin: 16px 0 0 15px;
}
.right-cont222 a {
	display: block;
	width: 210px;
	margin: 16px 0 0 15px;
}
.right-cont1-sp1,.right-cont111 span,.right-cont222 span,.right-cont333 span,.right-cont444 span,.right-cont555 span,.right-cont666 span {
	display: block;
	width: 16px;
	height: 16px;
	background: #0773D3;
	color: white;
	line-height: 16px;
	text-align: center;
	float: left;
	margin-left: 9px;
}
.right-cont1-sp1 {
	margin-left: 12px;
}
.right-cont1-sp2 {
	margin-left: 10px;
}
.right-cont1-sp3 {
	float: right;
	margin-right: 10px;
	color: #888888;
}
.right-cont1-sp3 em {
	color: #E60012;
}
.right-cont2 {
	clear: both;
	margin-top: 15px !important;
}
.right-cont6 {
	margin-bottom: 20px;
}
.banner-inner-left img:hover {
	transform: translate3d(-10px, 0px, 0px);
	transition: all 0.2s linear;
}
.banner-inner-right li:nth-child(2),.banner-inner-right li:nth-child(3) {
	font-size: 14px;
	font-weight: 800;
	color: #333333;
}
.banner-inner-right li:nth-child(2) img {
	margin: 8px;
}
.banner-inner-right li:nth-child(2) p {
	line-height: 39px;
	background: url(../img/changchengrunhuayou/ddL.png)no-repeat 10px 18px;
	padding-left: 15px;
}
.banner-inner-right li:nth-child(2) p:last-child {
	margin-bottom: 5px;
}
.banner-inner-right li:nth-child(3) p {
	line-height: 30px;
	background: url(../img/changchengrunhuayou/ddL.png)no-repeat 10px 18px;
	padding-left: 15px;
}
.banner-inner-cont2 {
	width: 850px;
	margin: 30px auto;
}

/*-------------------------------------------------------------------------------------------------------------*/
.footer{
	width: 850px;
	height: 135px;
	margin: 0 auto;
	margin-top: 30px;
	background: url(../img/foorterImg.jpg) no-repeat center center;
}
.end{
	width: 100%;
	height: 120px;
	background: #999999;
	margin-top: 30px;
}
.end .endin{
	width: 1200px;
	margin: 0 auto;
	padding-top: 40px;
}
.end .endin .endin_ul{
	width: 100%;
	height:100%;
	/*margin: 0 auto;*/
	text-align: center;
}
.end .endin .endin_ul li{
	font-size: 16px;
	border-right: 2px solid #FFFFFF;
	display: inline-block;
}
.end .endin .endin_ul li:last-child{
	border-right: none;
}
.end .endin .endin_ul li a{
	margin: 0 30px 0 30px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 800;
}
.end .endin p{
	margin-top: 25px;
	font-size: 12px;
	color: #FFFFFF;
    text-align: center;
    font-weight: 800;
}
.backToTop {
    display: none;
    background: url(../img/result-top-btn.png) no-repeat;
    width: 70px;
    height: 65px;
    position: fixed;
    right: 50px;
    bottom: 180px;
    cursor: pointer;
}

/*---------------------------*/
.annunciate {
	display: block;
	width: 180px;
	height: 130px;
	background: url(../img/jiFen_tz.png);
	position: absolute;
	bottom: 260px;
	right: 20px;
}
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 330%;
	background: #000;
	opacity: 0.3;
	filter: alpha(opacity=50);
	display: none;
}
.Annunciate {
	width: 685px;
	height: 325px;
	background: white;
	border: solid 5px #ECEFF1;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	margin: auto;
	color: black;
	display: none;
}
.Annunciate span {
	display: block;
	width: 22px;
	height: 21px;
	background: url(../img/closeSpan.jpg);
	float: right;
	margin: 15px;
}
.Annunciate-p1,.Annunciate-p2,.Annunciate-p3 {
	width: 635px;
	height: 32px;
	margin: auto;
}
.Annunciate-p1 {
	width: 635px;
	height: 32px;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	margin-top: 40px;
}
.Annunciate-p2,.Annunciate-p3 {
	font-size: 20px;
	font-weight: 800;
	color#333333;
}
.Annunciate-p2 {
	margin-top: 30px;
}
.Annunciate-p3 {
	text-indent: 2em;
	line-height: 35px;
}
.Annunciate-p4 {
	width: 255px;
	margin-right: 40px;
	float: right;
	margin-top: 70px;
	font-size: 20px;
	font-weight: 800;
	text-align: center;
}